<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../first.css">
</head>
<body>
    <div class="main">
        <img src="../imgs/wedding.jpg" class="wedding" />
        <div class="main_text">ascdefg</div>
        <div class="main_btn">아래</div>
    </div>
    <div class="nav">
        <div class="nav_title">오시는길</div>
        <img src="../imgs/location.jpg" class="nav_locationImg" />
    </div>
    <div class="sliderWrapper">
        
    </div>
</body>
<script src="../src/first.js"></script>
</html>